@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Rajdhani&family=Sedgwick+Ave&family=Tektur:wght@900&family=Ysabeau+SC:wght@200&display=swap');
:root{
    --d-blue: #191919;
    --d-blue-bg: #151515;
    --d-blue-accent: #b9b9b9;
    --d-blue-hover: hsla(0,0%,93.3%,0.0784313725490196);
    --d-blue-border: hsla(0,0%,100%,0.1607843137254902);
    --d-blue-active: rgba(129,140,239,0.2);
    --avax-red: #e84143;
    --arbitrum-blue: #28a0f0;
    --border-radius-sm: 0.4rem;
    --error-red: #fa3c58;
    --mc1: #3eb489;
    --mc2: #207a59;
    --hc: #ddd;
    --bc: #9ba0b8;
    --hff: "Heebo",sans-serif;
    --bff: "Nunito",sans-serif;

}
body{
    font-family: "Relative", sans-serif;
    background-color: #151515;
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 1px;
    word-break: break-word;
    max-width: 100vw;
    overflow-x: hidden ;
}
button{
    cursor: pointer;
}

  /* NAV_BAR */

#root-nav{
    background-color: #151515;
    color: white;
    width: 200vw;
    box-shadow: 8px 2px 6px 0 rgba(0,0,0,.3);
    border-bottom:  1px solid #33333386;

}
.d-links{
   margin-right: 85px;
}
.header-left{
    margin-left: 25px;
}
.header-cnt{
    background-color: #191919;
    display: flex;
    width: 200vw;
    flex-direction: row;
    box-shadow: #9ba0b8;
    align-items: center;
    
    
}
.header-links{
    display: flex;
    justify-content: space-between;
    margin-left: 750px;
    
    
}
.link:hover{
    opacity: 1;
}
.link{
    padding: 25px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    font-weight: 100;
    transition: 0.2s ease-in-out;
}
.logo-label{
    padding-top: 5px;
    margin-left: -15px;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
}

 /* NAV_BAR */

/* ******HOME PAGE******* */

 /* HOME CONTENT  */

.home-cnt{
    padding-top: 30px;
    padding-left: 400px;
    padding-bottom: 100px;
}
.home{
    text-align: left;
    font-size: 45px;
    
}
.title-desc{
    font-size: 25px;
    letter-spacing: 1px;
    word-break: break-word;
    max-width: 500px;
    opacity: 0.7;
}
.def-btn{
    background-color: #3eb489;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: large;
}
.def-btn:hover{
    background-color: #207a59;
    transition: 0.2s ease;
}
.home-btn{
    width: 200px;
}

  /* HOME CONTENT  */

  /* INFO CONTENT */

.info-bx{
    width: 350px;
    height: 10px;
    border: 1px solid #33333386;
    border-radius: 5px;
    box-shadow: 8px 2px 6px 0 rgba(0,0,0,.2);
    font-size: 25px;
    padding: 70px;
}
.info-cnt{
    padding-left: 300px;
    display: flex;
    width: auto;
    justify-content: space-evenly;

}
.info-ic{
    margin-top: -30px;
}
.info-txt{
    margin-left: 120px;
    margin-top: -60px;
    opacity: 0.8;
    font-size: large;
    
}
.info-val{
    margin-left: 120px;
    margin-top: -15px;
}
  /* INFO CONTENT */

.separator{
    display: block;
    border-bottom: 0.2px solid #ffffff3a;
    padding-top: -100px;
    margin-top: 120px;
    width: 200vw;
}

 /* BENEFITS SECTION */

.ben-cnt{
    padding-left: 400px;
    text-align: left;
    padding-top: 100px;
    display: inline-block;
    
}
.ben-box{
    width: 450px;
    height: 10px;
    font-size: 22px;
    align-items: left;
}
.ben-det{
    display: flex;
    align-content: space-between;
}
.ben-title{
    font-size: 30px;
    margin-left: 15px;  
    margin-top: 30px;
}
.ben-ic{
    padding-top: 15px;
}
.ben-desc{
    padding-top: 10px;
    padding-left: -70px;
    font-size: 25;
    max-width: 370px;
    opacity: 0.7;
}
.ben-box2{
    padding-left: 600px;
    width: 450px;
    height: 10px;
    font-size: 22px;
    align-items: left;
}
.ben-box3{
    width: 450px;
    height: 10px;
    font-size: 22px;
    align-items: left;
    padding-left: 1200px;
}
.ben-det2{
    display: flex;
    align-content: space-between;
    
}
.ben-det3{
    display: flex;
    align-content: space-between;
}
.ben-desc2{
    padding-top: 10px;
    padding-left: -70px;
    font-size: 25;
    max-width: 370px;
    opacity: 0.8;
}
.ben-desc3{
    padding-top: 10px;
    padding-left: -70px;
    font-size: 25;
    max-width: 370px;
    opacity: 0.8;
}
.ben-ic2{
    padding-top: 15px;
}
.ben-ic3{
    padding-top: 15px;
}
.ben-title2{
    font-size: 30px;
    margin-left: 15px;  
    margin-top: 30px;
}
.ben-title3{
    font-size: 30px;
    margin-left: 15px;  
    margin-top: 30px;
}
.ben-cnt2{
    text-align: left;
    padding-top: 100px;
    display: inline-block;
    padding-left: 150px;
    
}
.ben-cnt3{
    text-align: left;
    padding-top: 100px;
    display: inline-block;
    padding-left: 150px;
    
}

 /* BENEFITS SECTION */

 /* TOKENS SECTION */

.token-info{
    margin-bottom: 100px;
}

.token-title{
    padding-top: 120px;
    font-size: 50px;
    text-align: left;
    padding-left: 390px;
    letter-spacing: 0.1px;
}
.token-box{
    margin-left: 400px;
    width: 650px;
    height: 150px;
    border: 2px solid #333333;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
    padding: 70px;
}
.token-ic{
    margin-top: -55px;
    margin-left: -45px;
}
.icn-bx{
    display: flex;
    align-items: center;
}
.token-txt{
    padding-left: 35px;
    font-size: 30px;
    text-align: center;
    margin-top: -55px;
}
.token-det, .token-val{
    margin-left: -35px;
}
.token-det{
    font-size: 20px;
}
.token-val{
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
}
.read-more{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--d-blue-bg);
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    margin-left: 15px;
    
} 
.read-more:hover {
   background-color: rgba(255, 255, 255, 0.08);
   transition: 0.2s ease;
}
.def-btn-buy{
    width: 80px;
    height: 50px;
    margin-left: -35px;
}
.tok-bx-2{
    margin-top: -295px;
    margin-left: 1250px;
}
.root-foot{
    width: 200vw;
    height: 25vh;
    background-color: #191919;
    box-shadow: 8px 2px 6px 0 rgba(0,0,0,.2);
    border-top:  2px solid #333333;
    margin-bottom: 0;
}
.foot-logo{
    display: flex;
    align-items: center;
    margin-left: 48vw;
}
.footer-links{
    margin-left: 40vw;
    padding: 25px;
    display: inline-block;
}
.media-link{
    padding: 35px;
}
.text-links{
    display: flex;
    margin-left: 900px;
}
.txt-link{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 18px;
}




  /* ******DASHBOARD PAGE******* */

  /* STATS INFO */
.d-foot{
    margin-left: -125px;
}
.dashv1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    letter-spacing: 0.8px;
}
.stats-sect{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    
}
.d-logo{
     color: purple;
}
.stat-title{
    display: flex;
    font-size: larger;
    
}
.d-txt{
    padding-right: 5px;
}
.stat-det{
    opacity: 0.5;
    font-size: large;
    margin-top: -15px;
}



/* OVERVIEW TABLE */

.overview{
    border: 1px solid #9b9b9b86;
    align-items: left;
    border-radius: 5px;
}
.tab-bx{
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-template-columns: 400px 250px;
    width: 500px;
    height: 210px;
    
   
    
}
.tab-title{
   font-size: 17px;
   font-weight: 650;
   margin-left: 15px;
}
.dash-sep{
    width: 650px;
    height: 0;
    border: 0.5px solid #9b9b9b86;
}
.row{
    display: flex;
    padding: -1px;
    justify-content: space-between;
    padding-bottom: -25px;
}
.row1{
    grid-area: 1/1/1/3;
}
 .row2{
    grid-area: 2/1/2/3;
}
.row3{
    grid-area: 3/1/3/3 ;
}
.row4{
    grid-area: 4/1/4/3;
}
.row5{
    grid-area: 5/1/5/3 ;
} 
.row-val{
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    margin-right: 5px;
    cursor: help;
    text-align: left;
}
.price{
    text-decoration: none;
    cursor: text;
}
.row-obj{
    margin-left: 15px;
    opacity: 0.8;
    font-size: 17px;
}

.stats-bxs{
    display: flex;
    flex-direction: row;
}
.stat-total{
    margin-left: 15px;
  
}
.dropbtn{
    background: none;
    border: none;
    color: white;
}
.drop{
    display: flex;
}
.drop-ic{
    margin-left: 8px;
    margin-top: 8px;
}
.title-tok{
    display: flex;
    flex-direction: column;

}
.shadow{
    opacity: 0.5;
    margin-left: 15px;
    margin-top: -18px;
    font-size: small;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 16px;
    margin-left: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropbtn:hover, .dropbtn:focus {
    background-color: transparent
}
.links-dd{
    text-decoration: none;
    color: white;
    display: none;
}
.sep2{
    width: 650px;
    height: 0;
    border: 0.5px solid #9b9b9b86;
    
}
.aval{
    position: absolute;
    margin-top: 30px;
    margin-bottom: 1100px;
    left: 1095px;
    border-radius: 25px;
}
/*   
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    visibility: hidden;
}
.dropdown-content a:hover {background-color: #ddd;}
  

.show {
    visibility: visible;
    z-index: 1;
}  */
.obj1{
    text-align: left;
    margin-left: -25px;
    margin-right: 60px;
}
.index-tab{
    margin-top: 100px;
    margin-bottom: 100px;
}
.index-com{
    font-size: large;
    margin-left: 15PX;
}
.index-bx{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    width: 1300px;
    height: 350px;
}
.sep-ind{
    width:1300px;
}
.n1{
    grid-area: 1/1/6/6;
    margin-left: 55px;
}
.r1{
    margin-left: 200px;
}
.n2{
    grid-area: 2/1/6/6;
   
}
.n3{
    grid-area: 3/1/6/6;
}
.n4{
    grid-area: 4/1/6/6;
}
.n5{
    grid-area: 5/1/6/6;
}
.n2,.n3,.n4,.n5{
    margin-left: -160px;
    font-size: 15px;
}
.stat-view{
    width: 1300px;
}
.dwbdc{
    margin-left: 5px;
}
.v3{
    margin-left: -75px;
    text-decoration: none;
    text-decoration-style: none;
}
/* .bxx{
    position: relative;
    padding: 40px 0;
    width: 240px;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bxx .circle{
    position: relative;
    width: 150px;
    height: 150px;
    background: conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #333 var(--i), #333 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */



/* ******EARN PAGE******* */

.earn{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
}
.earn-title, .earn-desc{
    margin-left: 400px;
}
.earn-desc{
    opacity: 0.8;
}
.zomi-earn{
    width: 600px;
    margin-left: 400px;
    font-size: 8px;
    border: 1px solid #6b6969;
    border-radius: 5px;
}
.earn-box2{
    margin-left: 20px;
}  
.sep3{
    width: 599px;
    border: 1px solid #6b6969;
    margin-bottom: 5px;
}
.row-e{
    opacity: 0.5;
    margin-left: 15px;
}
.row-e-val{
    margin-right: 15px;
    font-size: 15px;
}
.bx-title{
    margin-left: 15px;
}
.btn-earn{
    width: 150px;
    border-radius: 5px ;
    margin-left: 5px;
    font-size: 15px;
    height: 40px;
    margin-bottom: 5px;
}
.boxes-e{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
}
.vest{
    margin-left: 400px;
    text-align: left;
}
.vest-box{
    margin-left: 0px;
}
.links-e{
    color: white;
}
.vest{
    margin-bottom: 120px;
}
